#? stdtmpl(subsChar = '$', metaChar = '#')
#proc genIndex(title: string): string =
#  result = ""
<html>
  <head>
    <title>$title</title>
    <link rel="stylesheet" href="/gruvbox.css">
    <script src="/bundle.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel='manifest' href='/manifest.webmanifest'>
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <body>
    <main>
      <div id="content"></div>
    </main>

    <footer>
      <p>From <a href="https://within.website">Within</a> - <a href="https://darksky.net/poweredby/">Powered by DarkSky</a></p>
    </footer>
    <script>
if(window.navigator && navigator.serviceWorker) {
  navigator.serviceWorker.getRegistrations()
  .then(function(registrations) {
    for(let registration of registrations) {
      registration.unregister();
    }
  });
}
    </script>
  </body>
</html>