main {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 1em;
  align: center;
  background-color: rgba(40, 40, 40, 0.75);
  height: 100%;
  color: #fbf1c7;
}

::selection {
  background: #d3869b;
}

td p {
    font-size: 250%;
}

table {
    width: 100%;
}

body {
  background: #282828;
  color:      #ebdbb2;
  font-family: monospace, monospace;
  font-size: 250%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

.currently {
    text-align: center;
    margin: auto;
    align: center;
    font-size: 450%;
}

.tiny {
    font-size: 75%;
}

#feels {
    font-size: 125%;
}

a, a:active, a:visited {
  color: #b16286;
  background-color: #1d2021;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 66%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}
